body {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prizes {
  width: 500px;
  height: 100px;
  background: gray;
  position: relative;
  overflow: hidden;
}
.prizes::before {
  content: '';
  display: block;
  height: 100%;
  width: 8px;
  background: red;
  position: absolute;
  z-index: 50;
  right: 50%;
}
.cards {
  display: flex;
  width: 500px;
  height: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  transition: 5s ease;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  margin-right: 10px;
  height: 90%;
  width: 90px;
  border: 1px solid yellow;
  background: rgb(1, 95, 235);
}

.win {
  background: rgb(0, 255, 149);
}
